body{font-family: 微软雅黑;}
a{font-family: 微软雅黑;}
.container{padding: 0;}


/*颜色*/
.container{background: lightgrey;}

@media screen and (max-width: 1199px) {
    .header .body .container ul{margin-left: 43px;}
    .header .search{margin-right: 28px;}
}

@media screen and (min-width: 750px) and (max-width: 979px) {
    .container{padding: 0 0px;width: 100%;}
}

@media screen and (min-width:1200px){ }

















